<!DOCTYPE html>
{% extends 'index.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Dishes</title>
</head>
<body>
<div class="col-6 card">
  <div class="card-body">
    <h4 class="card-title">Add items</h4>

    <form class="forms-sample" method="post" action="{% url 'saveitemdata' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleFormControlSelect2">Category</label>
        <select class="form-control " id="exampleFormControlSelect2" name="item_category">
          <option>Select Category</option>
          {% for i in data %}
          <option>{{i.CategoryName}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInput1">Item Name</label>
        <input type="text" class="form-control " id="exampleInput1" placeholder="Item Name" name="item_name">
      </div>
      <div class="form-group">
        <label for="exampleInput2">Price</label>
        <input type="number" class="form-control " id="exampleInput2" placeholder="Price" name="item_price">
      </div>
      <div class="form-group">
        <label for="exampleInputfile1">Upload Image 1</label>
        <input type="file" class="form-control " id="exampleInputfile1" name="image_1">
      </div>
      <div class="form-group">
        <label for="exampleInputfile2">Image 2</label>
        <input type="file" class="form-control " id="exampleInputfile2" name="image_2">
      </div>
      <div class="form-group">
        <label for="inputtextarea">Description</label>
        <textarea class="form-control" id="inputtextarea" style="height: 80px;" name="item_desc"></textarea>
      </div>


      <button type="submit" class="btn btn-primary me-2">Submit</button>
      <button class="btn btn-secondary">Cancel</button>
    </form>
  </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'success' %}
            <script>
                swal('{{i}}', '', 'success')
            </script>
        {% elif i.tags == 'warning' %}
            <script>
                swal('{{i}}', '', 'warning')
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}', '', 'error')
            </script>
        {% else %}
            <script>
                swal('{{i}}', '', 'info')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}


</body>
</html>
{% endblock %}